cache=1024;
daemon=1;
send_mail=1;
mail_tmpl=${pwd}/mail.tmpl;
statis_time=1000;

event={
   use_epoll=1;
   use_timer=1;
   epoll={
       event_num=100;
       et=0;
   };
   timer={
        timer_size=100;
   };
};


entry={
    port=8099;
    worker=1;
    listen={
        backlog=10;
        reuse=1;
    };
    reciever={
        event={
            use_epoll=1;
            use_timer=1;
            epoll={
                epoll_num=1000;
                et=0;
            };
            timer={
                timer_size=100;
            };
        };
        nk={
        };
        request={
        };
    };
};

log_fn=ahive.log;
pid_fn=ahive.pid;
uplayer={
    #include ${pwd}/ahive.cfg;
};
