*.o
*.a
*.bin
*.so
*.log
*.swp
*.pid
*.pyc
src/tags
src/gen.py
src/bifrost.log
src/third/lua5.3.4/src/lua
src/third/lua5.3.4/src/luac
src/.ycm_extra_conf.py
src/conf
src/core
src/bifrostd
src/test/test.mp3
GPATH
GRTAGS
GSYMS
GTAGS
